$background0_h: #fefadc;
$background: #FBF1C7;
$background1: #ebdbb2;
$background2: #d5c4a1;
$background3: #bdae93;
$background4: #a89984;
$background5: #928374;
$key_background1: #e8dcd0;
$text: #37251f;
$key_outline: #ededff;
$border: #847b6b;
$active_border: #d65d0e;
$aqua_light: #8ec07c;
$aqua_dark: #427b58;
$yellow_light: #d79921;
$yellow_dark: #b57614;
$blue_light: #458588;
$blue_dark1: #076678;
$blue_dark2: #054451;
$green_light: #98971a;
$green_dark: #79740e;
$purple_light: #b16286;
$purple_dark: #8f3f71;
$red_light: #cc241d;
$red_dark: #9d0006;
$key_dimension: 4rem;
$key_padding: 3px;
$key_shadow_offset: 4px;