@use "/src/styles/colors.scss" as *;
* {
	font-family: Ubuntu Mono, monospace;
	font-size: 24px;
}
:global(body) {
	margin: 100px;
	background-color: $background1;
	color: $text;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;
}